.one{
    color: red;
    background-color: darkgreen;
}
.two{
    color: white;
    }
.three{
    background-color: red;
}    

.a{
    color: red;
}
.b{
    background-color: springgreen;
}

.pb{
    color: tan;
}