<p>Welcome</p>

<h2>angukar with adding material design</h2>
<p class="bg-primary">Welllllllllllll</p>
<button mat-button> Primary</button>

<button mat-button color="primary">Primary</button>
<button mat-button color="accent">Accent</button>
<button mat-button color="warn">Warn</button>
<button mat-button disabled>Disabled</button>

<br>/
<br/>
<h2>ngIf , else , then else example</h2>
<!-- *ngIf
  <div *ngIf=showMsg>Show Message</div>
-->
<br>
  
  <!--*ngIf else
    <div *ngIf="showMsg; else showelseMessage">show Value</div>
    <ng-template #showelseMessage>Show else Message</ng-template>
  -->

  <div *ngIf="showMsg; then showThenMsg else showElseMessage"></div>
  <ng-template #showThenMsg>Show Then Message</ng-template>
  <ng-template #showElseMessage>Show Else Message</ng-template>

  <h2>Switch Example</h2>
  <div [ngSwitch]="switchValue">
      <div *ngSwitchCase="1">value passed:1</div>
      <div *ngSwitchCase="2">value passed:2</div>
      <div *ngSwitchCase="3">value passed:3</div>
      <div *ngSwitchDefault>value is :0</div>
  </div>


  <h2>ngFor Example</h2>
  <div class="table">
    <tr><th>ID</th><th>Name</th><th>index</th><th>First</th><th>Last</th><th>Even</th><th>Odd</th></tr>
    <tr *ngFor="let ele of users; index as i; first as f;last as l;even as e;odd as o">
      
      <td>{{ele.id}}</td>
      <td>{{ele.name}}</td>
      <td>{{ i }}</td>
      <td>{{ f }}</td>
      <td>{{ l }}</td>
      <td>{{ e }}</td>
      <td>{{ o }}</td>
    </tr>

  </div>

  <h2>ngStyle Example</h2>
  <div [ngStyle]="{'color':'red'}">Angular ngStyle Example</div>
  <a [ngStyle]="{'color': colorvalue, 'background-color': 'red'}" href="#">click here</a>

  <h2>ngClass Example</h2>
  <div [ngClass]="'one'"><h2>ngClass is a directive used for set the class name for the DOM Elements</h2></div>
  <div [ngClass]="[classname,classname1]">adding more than one ngClass for one property</div>
  <div [ngClass]="['a','b']">angular directives end</div>

  <p [innerHTML]= 'propertybind'></p>
  <div [ngClass]="'pb'"><h2>property binding with ngClass</h2></div>

  <br/><br/>
  <div><h2>Event Binding Example</h2></div>
  <button (click)="showAlert(10);">Click me</button>

  <h3>Two way Databinding</h3>

  <input [(ngModel)]="fullName" /> <br/><br/>    
  <p> {{fullName}} </p>  

  <h2>end of two way</h2>







<router-outlet></router-outlet>