<p>Welcome</p>
<p class="bg-primary">Welllllllllllll</p>
<button mat-button> Primary</button>

<button mat-button color="primary">Primary</button>
<button mat-button color="accent">Accent</button>
<button mat-button color="warn">Warn</button>
<button mat-button disabled>Disabled</button>

<!-- *ngIf
  <div *ngIf=showMsg>Show Message</div>
-->
<br>

  <!--*ngIf else
    <div *ngIf="showMsg; else showelseMessage">show Value</div>
    <ng-template #showelseMessage>Show else Message</ng-template>
  -->

  <div *ngIf="showMsg; then showThenMsg else showElseMessage"></div>
  <ng-template #showThenMsg>Show Then Message</ng-template>
  <ng-template #showElseMessage>Show Else Message</ng-template>


<router-outlet></router-outlet>